.user-list-container {
  width: 45%;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.user-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-group {
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.delete-button:hover {
  background-color: #c82333;
}

.user-edit-form {
  margin-bottom: 20px;
}

.user-edit-form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 16px);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-books-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-books-modal h3 {
  margin: 0 0 10px;
}

.user-books-modal ul {
  list-style: none;
  padding: 0;
}

.user-books-modal button {
  margin-top: 10px;
}
